@*@model kia_concesionario.Models.kia_concesionario.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula_cliente" class="control-label"></label>
                <input asp-for="Cedula_cliente" class="form-control" />
                <span asp-validation-for="Cedula_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_cita" class="control-label"></label>
                <input asp-for="Fecha_cita" class="form-control" />
                <span asp-validation-for="Fecha_cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora_cita" class="control-label"></label>
                <input asp-for="Hora_cita" class="form-control" />
                <span asp-validation-for="Hora_cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@